@model List<Flashcards.ContentManager.Models.ContentModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>Contents</h2>

@Html.ValidationSummary(true, string.Empty, new { @id = "server-validation", @class = "alert alert-danger" })

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Upload Date</th>
                    <th>Uploaded By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var content in Model)
                {
                    <tr>
                        <td>@content.Name</td>
                        <td>@content.DateUploaded.Value.ToString("MM/dd/yyyy HH:mm:ss")</td>
                        <td>@content.UploadedBy</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="panel-footer">
        <button class="btn btn-default" data-toggle="modal" data-target="#uploadContentModal">Add Content</button>
    </div>
</div>

<div class="modal fade" id="uploadContentModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Content Package</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="/Home/Upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="ProductName">Product: </label>
                        <input type="text" id="ProductName" class="form-control" name="ProductName">
                    </div>
                    <div class="form-group">
                        <label for="PackageFile">Package File:</label>
                        <input type="file" id="PackageFile" name="PackageFile">
                        <p class="help-block">Upload a zip package that contains the contents in word docx format.</p>
                    </div>

                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



